<% content_for :sidebar do %>
  <h3>Action Menu</h3>
    <ul class="navigation">
        <li><%= link_to "Cancel", currencies_path %></li>
    </ul>
<% end %>
<br>

<%= semantic_form_for @currency do |f| %>
  <%= f.inputs  do %>
    <%= f.input :name, :label => 'Currency name' %>
    <%= f.input :full_name, :label => 'Full name' %>
    <%= f.input :country, :as  => :country, :priority_countries => [ "Brunei Darussalam", "India", "Singapore" ] %>
  <% end -%>
  <span class="my_button">
    <%= f.submit %>
  </span>
<% end -%>