<% unless @addresses.empty? %>
  <h2>Address</h2>
  <span id="action"><%= link_to "Add an address", new_customer_address_path(@customer) %></span><br>
  <br>
  <table id="bosaTable" class="display" border="0" cellspacing="1" cellpadding="0">
    <thead>
      <tr>
        <th>Contact Name</th>
        <th>Relationship</th>
        <th>Address</th>
        <th>City</th>
        <th>District</th>
        <th>State</th>
        <th>Country</th>
        <th>Mobile#</th>
        <th>Telephone#</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
       <tr>
         <td><%= link_to address.contact_person, customer_address_path(@customer, address)%></td>
         <td><%= address.relationship %></td>
         <td><%= address.address %></td>
         <td><%= address.city %></td>
         <td><%= address.district %></td>
         <td><%= address.state %></td>
         <td><%= address.country %></td>
         <td><%= address.mobile %></td>
         <td><%= address.telephone %></td>
         <td><%= link_to "Edit", edit_customer_address_path(address) %> <%= link_to "Destroy", customer_address_path(@customer, address), :method  => :delete, :confirm  => 'Are you sure to delete the address record?' %></td>
         </tr>
     <% end %>
   </tbody>
  </table>
<% end -%>