<% content_for :sidebar do %>
  <h3>Action Menu</h3>
    <ul class="navigation">
        <li><%= link_to "Cancel", :back %></li>
    </ul>
<% end %>
<br>

<%= semantic_form_for :address, @address, :url => customer_addresses_path  do |f| %>
  <%= f.inputs "Personal details :" do %>
    <%= f.input :contact_person %>
    <%= f.input :dob, :label  => "Date of birth", :as  => :datepicker %>
    <%= f.input :sex, :as  => :radio, :collection  => [ "Male", "Female" ]  %>
    <%= f.input :relationship %>
  <% end -%>
  <%= f.inputs "Contact details :" do %> 
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :postcode %>
    <%= f.input :district %>
    <%= f.input :state %>
    <%= f.input :country, :as  => :country, :priority_countries => [ "Brunei Darussalam", "India", "Singapore" ] %>
    <%= f.input :telephone, :label  => "Telephone#" %>
    <%= f.input :mobile, :label  => "Mobile#" %>
    <%= f.input :email %>
  <% end -%>
  <span class="my_button">
    <%= f.submit %>
    <%= link_to "Cancel", customer_path(@customer) %>\
  </span>
<% end %>