<% unless @addresses.empty? %>
  <h2>Address</h2>
  <br>
  <table id="bosaTable" class="display" border="0" cellspacing="1" cellpadding="0">
    <thead>
      <tr>
        <th>Contact Name</th>
        <th>Relationship</th>
        <th>Street</th>
        <th>City</th>
        <th>District</th>
        <th>State</th>
        <th>Country</th>
        <th>Mobile#</th>
        <th>Telephone#</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
       <tr>
         <td><%= link_to address.name, address %></td>
         <td><%= address.street %></td>
         <td><%= address.city %></td>
         <td><%= address.district %></td>
         <td><%= address.state %></td>
         <td><%= address.country %></td>
         <td><%= address.mobile %></td>
         <td><%= address.telephone %></td>
         <td><%= address.email %></td>
         <td><%= link_to "Edit", edit_address_path(address) %> <%= link_to "Destroy", address, :method  => :delete, :confirm  => 'Are you sure to delete the address record?' %></td>
         </tr>
     <% end %>
   </tbody>
  </table>
<% end -%>