<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Bosa Remittance</title>
  <%= stylesheet_link_tag  "web_app_theme","themes/default/style", "web_app_theme_override", :cache => true %>
  <%= javascript_include_tag 'jquery-1.4.2', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body class="login">
  <div id="container">
    <div id="header">
      <h1>Bosa Remittance</h1>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <%= yield %>
    </div>    
  </div>
</body>
</html>
